.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #fff;
  width: 40vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
  background-color: rgb(174, 206, 207);
}
